[Unit]
Description=Creating a link file for user to access tdm-socket

[Service]
Type=oneshot
ExecStart=/usr/bin/ln -sf /run/tdm-socket /run/user/%U/
